/* General styling*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
/*sidebar styling*/
#sidebar {
    max-width: 250px;
    background-color: #4ABDAC;
    padding: 20px;
    color: #fff;
    min-height: 100vh;
}
/*this is the box for search*/
#newCity {
    width: 100%;
}
/* added color and width for submit*/
#citySearch { 
    width: 100%;
    background: #F7B733;
}
.btn {
    text-align: left;
    color: #fff;
    display: block;
}
.jumbotron {
    display: flex;
    height: 100vh;
}
/* setting the order of the weather and forcast so that weather is first*/
.weather{
    order: 1;
    flex-basis: 25%;
    background-color: #F7B733;
    padding: 10px;
    line-height: 80px;
  }
  .forecast{
    order:2;  
  }
  .main-content{
    width: 100%;
    background: #DFDCe3;
  }
  .forecast ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left:0px;
  }
  .forecast ul li{
    background: #fC4A1A;
    justify-content: space-evenly;
    margin: 20px;
    padding:10px;
    min-width: 80px;
    border-radius: 10px;
    color: #fff;
  }
  /*MEDIA to adjust width at 580px */
  @media only screen and (max-width: 580px) {
    #sidebar{
      width: 200px;
      height: auto;
    }
  
    #sidebar h1 {
      font-size: 32px;
    }
    .jumbotron{
      display: block;
      height: auto;
    }
  }
