/* General styling*/
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
/*sidebar styling*/
#sidebar {
    max-width: 250px;
    background-color: #4ABDAC;
    padding: 20px;
    color: #fff;
    min-height: 100vh;
}
/*this is the box for search*/
#newCity {
    width: 100%;
}
/* added color and width for submit*/
#citySearch { 
    width: 100%;
    background: #F7B733;
}
.btn {
    text-align: left;
    color: #fff;
    display: block;
}
